// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

    $bodytext:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    $nav:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    $primary:rgb(160, 54, 221);
    $red:rgb(228, 27, 27);
    $lightgray:rgba(104, 103, 103, 0.8);
    $shadow:0 10px 20px -6px #777;

    // h1,h2,h3,h4,h5,h6{
    //     font-family:$bodytext !important
    // }
    *:not(.mdi){
        font-family:$bodytext !important;
    }
    *{
        transition: all 0.5s ease;
    }

  
